[Unit]
Description=Run Xurvexa Laravel Scheduler Every Minute

[Timer]
OnCalendar=*-*-* *:*:00
Persistent=true
AccuracySec=1s
Unit=xurvexa-laravel-scheduler.service

[Install]
WantedBy=timers.target
